<div *ngIf="loading">Loading...</div>
<div *ngIf="error">{{ error }}</div>

<div *ngIf="!loading && !error">
  <div class="filters">
    <select [(ngModel)]="filters.country" (change)="updateFilters()">
      <option value="">All Countries</option>
      <option *ngFor="let c of countries" [value]="c">{{ c }}</option>
    </select>

    <select [(ngModel)]="filters.activity" (change)="updateFilters()">
      <option value="">All Activities</option>
      <option *ngFor="let a of activities" [value]="a">{{ a }}</option>
    </select>

    <select [(ngModel)]="filters.emission_type" (change)="updateFilters()">
      <option value="">All Types</option>
      <option *ngFor="let t of emissionTypes" [value]="t">{{ t }}</option>
    </select>
  </div>

  <table>
    <thead>
      <tr>
        <th>Country</th>
        <th>Activity</th>
        <th> Type</th>
        <th>Emissions</th>
        <th>Year</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of filteredEmissions">
        <td>{{ e.country }}</td>
        <td>{{ e.activity }}</td>
        <td>{{ e.emission_type }}</td>
        <td>{{ e.emissions }}</td>
        <td>{{ e.year }}</td>
      </tr>
    </tbody>
  </table>

  <app-emissions-chart [emissions]="filteredEmissions"></app-emissions-chart>
</div>
